@mixin media-query($value, $operator: 'max-width', $query: 'screen') {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

.container {
  background-color: lightblue;

  @include media-query(1200px) {
    background: red;
  }

  h1 {
    color: red;

  }
}